$color-primary: #006562;
$color-box-model: #F1F1F1;


$color-primary-text: #006562;
$color-secondary-text: #fff;


$color-white: #fff;
$color-black: #000000;


$font-size-primary: 10rem;
$font-size-secondary: 3rem;
$font-size-content: 2rem;