$color-primary: #006562;
$color-box-model: #F1F1F1;


$color-primary-text: #006562;
$color-sub-text: #009b96;
$color-content-text: #000;


$color-white: #fff;
$color-black: #000000;

$font-default: 1.5rem;
$font-size-primary: 10rem;
$font-size-secondary: 5rem;
$font-size-content: 3rem;

