.contact {

  &__wrap {
    background-color: $color-white;
    margin-top: -2rem;
    border-radius: 0.4rem;
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  &__box__wrap {
    max-width: $width;
    margin: 0 auto;
    display: flex;
    padding: 2rem 5rem;

    @include respond(tab-land) {
      padding: 2rem 3.5rem !important;
    }

    @include respond(tab-port) {
      padding: 2rem 2rem !important;
    }

    @include respond(tab-port) {
      padding: 2rem 1.5rem !important;
    }

    @include respond(phone) {
      flex-direction: column;
      padding: 2rem 3.5rem !important;
    }

    @include respond(phone) {
      padding: 2rem 1rem !important;
    }
  }

  &__box__left, &__box__right {
    width: 50%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__box__left {
    // background-color: purple;
    padding: 5rem 7.5rem 2rem;

    @include respond(tab-land) {
      padding: 5rem 6.5rem 2rem;
    }

    @include respond(tab-port) {
      padding: 5rem 4.5rem 2rem;
    }

    @include respond(xl-phone) {
      padding: 5rem 3rem 2rem;
    }

    @include respond(phone) {
      padding: 5rem 7rem 2rem;
      order: 2;
    }

    @include respond(sm-phone) {
      padding: 5rem 2rem 2rem;
    }

  }

  &__form {

    & > * {
      display: block;
      margin-top: 0.5rem;
    }

    & label {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      color: $color-primary-text;
    }

    & input, & button, & textarea {
      padding: 1rem 1.5rem;
      border-radius: 0.2rem;
      width: 100%;
      border: 2px solid $color-primary;
      resize: none;
    }

    & button {
      background-color: $color-primary;
      color: $color-white;
      border: none;
      outline: none;
      transition: all 0.3s ease;

      &:hover {
        background-color: #007c78;
      }
    }
  }

  &__img__wrap {
    max-width: 38rem;
    margin: 8.5rem auto 0;
    padding: 0 2rem;
  }

  &__img {
    background-image: url(/assets/img/Social-Growth-pana.svg);
    height: 40rem;
    width: 38rem;
    background-size: contain;
    background-repeat: no-repeat;

    @include respond(xl-phone) {
      height: 35rem;
      width: 33rem;
    }
  }

  &__e {
    background-color: #F1F1F1;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
    padding: 5rem 0;
    border-radius: 0.5rem;
  }
}