.main {
  padding: 0 2rem;
  position: relative;  

  & .section-bg {
    background-color: #F1F1F1;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
  }

  & .section-bg-white {
    background-color: $color-white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  & .folio {

    &__dashboard {
      margin-top: -2rem;

      &__hero2 {
        background-image: url("/assets/img/i/fol-6a-sm.jpg");
        width: 100%;
        height: 55rem;
        background-size: cover;
        background-position: center center;
        box-shadow: 0px 0px 6px -1px rgba($color-black, 0.5);
        border-radius: 0.4rem;

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
              (min-width: 125em) {
        background-image: url("/assets/img/fol-6a.jpg");
      }
      }
    }

    &__about {

      &__wrap {

        &--num {
          font-size: 10rem;
          opacity: 0.1;
          color: $color-primary-text;
          position: absolute;
          margin: -3rem 0 0 -2rem !important;
        }
      }
    }

    &__content__speci {
      display: flex;
      justify-content: space-around;

      &--head {
        font-size: 2rem;
        font-weight: 400;
        color: $color-primary-text;
        margin: 1.2rem 0;
      }

      &--items {
        list-style: none;
        display: block;

        li {
          font-size: 1.5rem;
        }
      }
    }

    &__works {

      & .box {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        cursor: pointer;

        @include respond(xl-phone) {
          display: block;
        }

        &__h__effect:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease-in;
        }

        &__wrapper {
          width: 49.5%;
          // background-color: pink;
          display: flex;
          justify-content: space-between;

          @include respond(xl-phone) {
            width: 100%;
          }

          @include respond(sm-phone) {
            display: block;
          }

          &-m {

            @include respond(xl-phone) {
              margin-top: 0.7rem;
            }
          }
        }

        &__model {
          width: 98%;
        }
        
        &__lg {
          width: 96.5%;
          background-color: red;
          height: 14rem;
          border-radius: 0.3rem;
          box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);

          @include respond(tab-land) {
            height: 13rem;
          }

          @include respond(tab-port) {
            height: 11.5rem;
          }

          @include respond(xl-phone) {
            height: 15rem;
          }

          @include respond(phone) {
            height: 14rem;
          }

          @include respond(sm-phone) {
            height: 15rem;
            width: 100%;
          }

          &-1, &-2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }

          &-1 {
            background-image: url(/assets/img/w/work-1t.jpg);
          }

          &-2 {
            background-image: url(/assets/img/w/work-2t.jpg);
          }
        }

        &__sm__wrap {
          width: 96.5%;
          display: flex;
          justify-content: space-between;

          @include respond(sm-phone) {
            width: 100%;
          }
        }

        &__sm {
          width: 48.5%;
          height: 14rem;
          background-color: green;
          border-radius: 0.3rem;
          box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);

          @include respond(tab-land) {
            height: 13rem;
          }

          @include respond(tab-port) {
            height: 11.2rem;
          }

          @include respond(xl-phone) {
            height: 15rem;
          }

          @include respond(phone) {
            height: 14rem;
          }

          @include respond(sm-phone) {
            height: 13rem;
          }

          &-1, &-2, &-3, &-4 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }

          &-1 {
            background-image: url(/assets/img/w/work-3t.jpg);
          }

          &-2 {
            background-image: url(/assets/img/w/work-4t.jpg);
          }

          &-3 {
            background-image: url(/assets/img/w/work-5t.jpg);
          }

          &-4 {
            background-image: url(/assets/img/w/work-6t.jpg);
          }
        }

        &__order {

          @include respond(xl-phone) {
            order: 1;
          }

          @include respond(sm-phone) {
            order: 2;
          }
        }

        &__xl {
          width: 100%;
          height: 100%;
          background-color: cyan;
          border-radius: 0.3rem;
          box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);

          @include respond(xl-phone) {
            width: 96.4%;
          }

          @include respond(sm-phone) {
            display: none;
          }

          &-1, &-2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }

          &-1 {
            background-image: url(/assets/img/w/work-7t.jpg);
          }

          &-2 {
            background-image: url(/assets/img/w/work-8t.jpg);
          }
        }
      }
    }

    &__help {
      margin-top: 1rem;
    }
  }
}