.section-padding {
  padding: 5rem 0;
}

.section-head {
  font-size: 8rem;
  font-weight: 300;
  color: $color-primary-text;

  @include respond(xl-phone) {
    font-size: 7rem;
  }

  @include respond(phone) {
    font-size: 5rem;
  }

  @include respond(sm-phone) {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

}

.section-content {
  font-size: 2rem;
  font-weight: 300;
  color: $color-content-text;
}


